html, body {
	height: 100%;
}

body {
	background-color: #FFFEFC;
}

div, body{
	margin: 0;
	padding: 0;
	font-family: 'Cormorant', serif;
	color: #151515;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: normal;
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-size: 30px;
	margin-top: 60px;
}

a {
	color: #151515;
	text-decoration: none;
	border-bottom: 1px solid rgb(21,21,21,.3);
}

a:hover {
	opacity: 0.7;
}

.link-index {
	font-size: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.text {
	font-size: 24px;
	line-height: 30px;
	text-align: left;
}

.avatar {
	border-radius: 50%;
}

.content {
	margin: 70px auto 150px;
	text-align: center;
	width: 50%;
}

.fotorama-content {
	margin: 0 auto;
	padding-top: 70px;
	text-align: center;
	width: 50%;
}

.fotorama img {
	margin-top: 50px;
	width: 100%
}

.caption {
	font-style: italic;
	font-weight: normal;
	font-size: 22px;
	line-height: 29px;
	margin-top: 10px;
}

.cover {
	width: 100%;
}