html, body {
	height: 100%;
}

body {
	background-color: #FFFEFC;
}

div, body{
	margin: 0;
	padding: 0;
	font-family: EB Garamond;
	color: #151515;
}

h1 {
	font-family: Gill Sans;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 40px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

a {
	color: #151515;
}

a:hover {
	opacity: 0.7;
}

p {
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;
	width: 600px;
}

#content {
	width: 800px;
	margin: 40px auto;
	/*text-align: center;*/
}

.link-index {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #151515;
}
